body {
  background-color: #cec41a;
}

#landing-header {
  z-index: 1;
  position: relative;
  text-align: center;
  padding-top: 40vh;
}

#landing-header h1 {
  color: #fff;
}

.slideshow {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 0;
  list-style: none;
  margin: 0;
  padding: 0;
}

.slideshow li {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  opacity: 0;
  z-index: 0;
  animation: imageAnimation 50s linear infinite;
}

.slideshow li:nth-child(1) {
  background-image: url(https://source.unsplash.com/AIlaizu47RE)
}
.slideshow li:nth-child(2) {
  background-image: url(https://source.unsplash.com/AtLajzgFyAQ);
  animation-delay: 10s;
}
.slideshow li:nth-child(3) {
  background-image: url(https://source.unsplash.com/o4-YyGi5JBc);
  animation-delay: 20s;
}
.slideshow li:nth-child(4) {
  background-image: url(https://source.unsplash.com/RKK_nvoOJ6Y);
  animation-delay: 30s;
}
.slideshow li:nth-child(5) {
  background-image: url(https://source.unsplash.com/8hJQKRIQZMY);
  animation-delay: 40s;
}

@keyframes imageAnimation {
  0% {
    opacity: 0;
    animation-timing-function: ease-in;
  }
  10% {
    opacity: 1;
    animation-timing-function: ease-out;
  }
  20% {
    opacity: 1
  }
  30% {
    opacity: 0
  }
}

/* Older browser support - .no-cssanimations class added by modernizr */
.no-cssanimations .slideshow li {
	opacity: 1;
}

.btn{
  background-color: #c50000;
  border-color: #c50000;
}

.navbar-default{
  background-color: #cec41a;
  border-color: #cec41a;
  border-bottom: 5px solid #c50000;
  padding: 0;
  border-radius: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.navbar-default .navbar-brand{
  font-size: 2rem;
  color: #c50000;
}

.navbar-default .navbar-nav>li>a {
    color: #c50000;
    font-size: 1.2em;
}

#landing-header h1{
  color: #fff;
  font-size: 5rem;
  font-weight: 700;
}

.fa{
  margin-right: 5.5px;
}
