@import url('https://fonts.googleapis.com/css?family=Muli:300,400,600&display=swap');
@import url('https://fonts.googleapis.com/css?family=Merriweather:400,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');


*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
  display: block;
}

body{
  font-family: Muli, sans-serif;
  top: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  color: #eee;
  background: 0 0;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
}

.center_links {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  list-style: none;
}

.cart-title{
  color: #fff;
  font-size: 25px;
  font-weight: 700;
  line-height: 1.1;
  margin-top: 0;
  text-align: center;
  text-decoration: underline;
}

.new-comment{
margin-top: 10px;
}

#cart-btn{
margin: 0 auto;
}

.slideshow {
  background-image: url(https://source.unsplash.com/GfmIT_pseDQ);
  background-size: cover;
  background-position: center;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 0;
  list-style: none;
  margin: 0;
  padding: 0;
  opacity: 0.39;
}

.flex {
	display: flex;
	flex-wrap: wrap;
	justify-content: center; /* My personal preference - Not required */
}

.caption h4{
  /* font-size: 2.5vh; */
  font-size: 2.5vmin;
	font-weight: bold;
}

#show_img{
  width: 100%;
  height: 624px;
  background-size: cover;
  background-position: center center;
  display: flex;
  flex-wrap: wrap;
  border-radius: 3.5%;
}

#index_img{
  width: 100%;
  height: 365px;
  background-size: cover;
  background-position: center center;
  display: flex;
  flex-wrap: wrap;
  border-radius: 3.5%;
}

.thumbnail{
  padding: 0;
  padding-bottom: 5px;
  /*border: none;*/
  display: block;
  margin-bottom: 20px;
  line-height: 1.4285;
  background-color: #fff;
  border-radius: 4px;
}

#delete-form{
  display: inline;
}

#shopping-cart{
    width: 750px;
    height: auto;
    margin: 20px auto;
    background: #FFFFFF;
    box-shadow: 1px 2px 3px 0px rgba(0,0,0,0.10);
    border-radius: 6px;
    display: block;
    flex-direction: column;
  }

.ux-card{
    background: #FCFCFC;
    padding:20px;
    position: relative;
    &:hover {
      cursor: pointer;
      border-color: #008a32;
      background-color: #fff;
    }
}

table tbody tr td{
vertical-align: middle;
padding: 8px;
line-height: 1.42857143;
vertical-align: top;
border-top: 1px solid #ddd;
color: #555
}

.fa-trash-o{
color: #af111c;
}
td, th{
      padding: 0;
}

.row-heading{
  background: #fff;
  margin: 0 auto;
  font-size: 1.0em;
  font-family:'Josefin Sans', sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333;
}

.total-display{
  font-family: 'Raleway', sans-serif;
}

.last-line{
margin-top: 15px;
margin-bottom: 25px;
text-align: center;
}

th{
text-align: left;
}

.box{
  background: #fff;
  margin: 0 0 30px;
  border: solid 1px #ccc;
      border-right-width: 1px;
      border-left-width: 1px;
      border-right-style: solid;
      border-left-style: solid;
      border-right-color: rgb(204, 204, 204);
      border-left-color: rgb(204, 204, 204);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 20px;
  border-left: none;
  border-right: none;
  margin-bottom: 30px;
}

.table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
    background-color: transparent;
    border-spacing: 0;
    border-collapse: collapse;
    table-layout: fixed;
    width:500px;
    min-height: .01%;
    overflow-x: auto;
}

table > thead > tr > th {
    vertical-align: bottom;
    border-bottom: 2px solid #ddd;
}

.breadcrumb{
  padding: 8px 0;
  margin-bottom: 20px;
  background-color: #fff;
  border-radius: 0;
  text-align: center;
  font-family: "Montserrat",Helvetica,Arial,sans-serif;
  text-transform: uppercase;
  letter-spacing: .1em;
  text-align: center;
  font-size: 12px;
}

.page-top{
  text-align: center;
  margin-bottom: 45px;
  padding-bottom: 30px;
}

.page-top h1{
  font-size: 43.2px;
  color: #4fbfa8;
  font-family: "Montserrat",Helvetica,Arial,sans-serif;
  font-weight: 900;
  line-height: 1.2;
  text-transform: uppercase;
  letter-spacing: .1em;
}

.page-top::after {
    height: 1px;
    background: #555;
    position: relative;
    top: 20px;
    margin: 0 auto;
    width: 150px;
}

.text-muted{
  color: #777;
}

table { border-collapse: collapse; }

td + td,
tr + tr { border-top: 1px solid indigo; }

td,
th { padding: 10px; }


// IE7
tr + tr > td,
tr + tr > th { border-top: 1px solid indigo; }

h2 span {
  font-size: 18px;
}

nav {
  padding: 40px;
}

.navbar-default .navbar-nav>.active>a {
  background: none;
  color: black;
}

.navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
  color: #c50000;
  border-bottom: 1px solid #c50000;
  background: none;
}

.navbar {
  z-index: 1;
  margin-bottom: 0px;
}

.btn-lg{
  background-color: #c50000;
  border-color: #c50000;
  color: #fff;
}

.navbar-default{
  background-color: #eee;
  padding: 40px;
  border-radius: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.navbar-default .navbar-brand{
  font-size: 2rem;
  color: black;
}

a.navbar-brand{
  font-weight: bolder;
  font-family: 'Montserrat',;
  text-transform: uppercase
}

.navbar-default .navbar-nav>li>a {
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 600;
    white-space: nowrap;
    background: none;
    color: black;
    border-bottom: 1px solid transparent;
    text-decoration: none;
    font-family: Muli,sans-serif;
    transition-duration: 0.3s;
}

.navbar-default .navbar-nav>li>a:hover {
  color: #c50000;
  border-bottom: 1px solid #c50000;
}

.fa{
  margin-right: 5.5px;
}

.ux-card td a{
color: #4fbfa8;
}

.book-index{
    margin-bottom: 0;
    height: 20%;
    text-align: center;
    margin-bottom: 30px;
    width: 100%;
		position: relative;
		z-index: 1;
    /*margin-left: -275px;*/
}

.book-index div {
    margin-top: 1%;
    margin-bottom: 1%;
    padding-top: 5%;
    padding-bottom: 5%;
    /* background: rgba(0, 128, 0, .6); */
}

.book-index h1 {
  color: black;
}

.book-index p {
  color: #c50000;
}

p a{
  margin: 0 0 10px;
}

.web-single-img{
  text-align: center;
}

.wrapper-fig{
  display: inline-block;
  vertical-align: top;
  margin: 0;
  max-width: 100%;
}

.single-image-wrapper{
  display: inline-block;
  vertical-align: top;
  max-width: 100%;
}